<a href="https://colab.research.google.com/github/jobsforbabu/babu_projects/blob/main/Introduction_to_Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <u>While doing this assignment only use those concepts which have been taught till now</u>

## <u>Problem 1</u>

A list contains the average daily temperature(in degree Celsius) of a city over a particular week. Write a Python code to swap the highest and the lowest temperatures

In [1]:
# A list containing average daily temperature over a week 
temperatures = [34, 40, 29, 33, 42, 37, 39 ]

# The expected output 
# output_temperatures = [34, 40, 42, 33, 29, 37, 39]

In [3]:
# Store the highest temperature
max_temp = max(temperatures)

# Index of the element with the highest temperature
max_temp_index = temperatures.index(max_temp)

In [4]:
print(max_temp)
print(max_temp_index)

42
4

In [5]:
# Store the lowest temperature 
min_temp = min(temperatures)

# Index of the element with the lowest temperature
min_temp_index = temperatures.index(min_temp)

In [6]:
print(min_temp)
print(min_temp_index)

29
2

In [7]:
# Swap the highest and the lowest temperatures

temperatures[4] = 29
temperatures[2] = 42

In [14]:
# Print the output list
output_temperatures = temperatures
print(output_temperatures)

[34, 40, 42, 33, 29, 37, 39]


## <u>Problem 2 </u>

### Measures of Averages

* Mean of a group is defined as the sum of the elements in the group divided by the number of elements in the group.
* Median is the middle number in a <b>sorted</b>, ascending or descending, list of numbers. If the list has $N$ numbers where $N$ is odd, then median is the element in the middle i.e, $(\frac{N+1}{2})^{th}$ element. If $N$ is even, then median is the mean of $(\frac{N}{2})^{th}$ and $(\frac{N}{2}+1)^{th}$ elements

In [15]:
# List of product prices

prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [16]:
# Calculate the mean of the product prices. Use list functions. Also print the mean_price
mean_price = sum(prod_price_list)/len(prod_price_list)
print(mean_price)

1975.0

### Calculate the median price

In [17]:
# Step 1 - Obtain the sorted list. Print the sorted_prices
sorted_prices = sorted(prod_price_list)
print(sorted_prices)

[250, 250, 360, 400, 550, 600, 720, 800, 820, 15000]

In [23]:
# Check if the number of elements in the list is even or odd
x = len(sorted_prices)
if x % 2 == 0:
  print("The list is even with length {}".format(x))

The list is even with length 10

In [44]:
# Use the corresponding formula to calculate the median and print the median
ind_val_1 = int(x/2)
ind_val_2 = int(x/2 + 1)
val_1 = sorted_prices[ind_val_1-1]
val_2 = sorted_prices[ind_val_2-1]
median_price = (val_1 + val_2)/2
print(median_price)

575.0

In [47]:
# Check which is greater, mean or median
if mean_price > median_price:
  print("Mean is Greater")

Mean is Greater

### Why do you think that is the case??

### <u>Write your explanation in this text cell</u>

Your explanation :  It's because of the Outliars or the extreme values present in the list. These extreme values can impact the mean or average.

## <u> Problem 3 </u>

Having a nested list sometimes might be a bit problematic. An individual was asked to collect the names of companies in the technology sector. While creating the list, by mistake the last three companies were subsumed in a list as shown below. You are required to get rid of the nesting

In [61]:
# The list of tech companies curated by the individual
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]

# The final list that we want
# correct_tech_companies = ['Qualcomm','Google','Apple','Nvidia','Cisco','Samsung']

In [62]:
# Write your code below
extract_2 = tech_companies.pop()
print(extract_2)

['Nvidia', 'Cisco', 'Samsung']

In [63]:
# Do the same task another way
#correct_tech_companies = []
for i in extract_2:
  tech_companies.append(i)
correct_tech_companies = tech_companies
print(correct_tech_companies)

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']